<h1>BudgetApp</h1>
<div style="position: absolute; bottom: 0; width: 100%;">
  <%= link_to 'LOG IN', new_user_session_path, class: 'auth-link login', style: "bottom: 40px;" %>
  <%= link_to 'SIGN UP', new_user_registration_path, class: 'auth-link signup', style: "border: 1px solid #ccc;" %>
</div>